.container {
  text-align: center;
}

.input-item {
  display: flex;
  margin-left: 30%;
  margin-bottom: 10px;
}

.input-item label {
  width: 150px;
}

.input-item input[type="text"] {
  border: #eee 1px solid;
  background-color: #fff;
  outline: none;
  width: 300px;
  height: 30px;
  padding: 0 5px;
  font-size: 18px;
}